.mainWrapper {
  background-color: #161325;
}
.heroContainer {
  height: 100vh;
}

.bgVideo {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  mask-image: linear-gradient(to top, rgba(0, 0, 0, 0), rgb(22 19 37));
  /* z-index: -1; */
}

.leftVideo {
  width: 100%;
  mask-image: radial-gradient(
    ellipse 55% 76% at 38% 61%,
    black 24%,
    transparent 69%
  );
}

.backgroundImage {
  background: url(../../assets/backgrounImage.png) no-repeat fixed;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-position-x: right;
  background-size: contain;
  background-color: #161324;
}
.overlay {
  position: absolute;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  background: #1c152e;
  opacity: 0.8;
  -webkit-transition: all 0.5s 0s ease;
  -moz-transition: all 0.5s 0s ease;
  -o-transition: all 0.5s 0s ease;
  transition: all 0.5s 0s ease;
  z-index: 2;
}

.textContainer {
  flex-basis: 70%;
  position: absolute;
  z-index: 10;
  pointer-events: none;
  margin-top: -5px;
  left: 10%;
  top: 200px;
  width: 50%;
}

.title {
  font-weight: 600;
  font-size: 6rem;
  line-height: 1;
  letter-spacing: -2px;
  color: rgba(255, 255, 255, 0.96);
  text-shadow: 0 0 80px rgb(192 219 255 / 48%), 0 0 32px rgb(65 120 255 / 24%);
  pointer-events: none;
  margin-bottom: 3rem;
  margin-top: 0rem;
}

.titleH2 {
  font-weight: 600;
  font-size: 4rem;
  line-height: 1;
  letter-spacing: -2px;
  color: rgba(255, 255, 255, 0.96);
  text-shadow: 0 0 80px rgb(192 219 255 / 48%), 0 0 32px rgb(65 120 255 / 24%);
  pointer-events: none;
  margin-bottom: 3rem;
  margin-top: 0rem;
}

.description {
  font-size: 20px;
  line-height: 28px;
  margin: 0px;
  color: rgba(255, 255, 255, 0.88);
  margin-bottom: 1rem;
  width: 70%;
}

.text2 {
  font-size: 17px;
}

.buttonWrapper {
  display: flex;
  position: relative;
}

.section {
  max-width: 1320px;
  padding: 0 20px;
  margin: auto;
  padding-top: 5rem;
  padding-bottom: 5rem;
}

.sectionContent {
  margin: 0;
  box-sizing: border-box;
  min-width: 0;
  display: flex;
}

.leftPane {
  width: 55%;
  position: relative;
  mask-image: linear-gradient(
    0deg,
    rgba(22, 19, 37, 0) 0%,
    rgba(22, 19, 37, 1) 39%
  );
}

.rightPane {
  box-sizing: border-box;
  margin: 0;
  min-width: 0;
  display: flex;
  width: 45%;
  padding-left: 10%;
  flex-direction: column;
  justify-content: center;
  position: relative;
  z-index: 2;
}

.rightPaneInv {
  width: 55%;
  position: relative;
  mask-image: linear-gradient(
    0deg,
    rgba(22, 19, 37, 0) 0%,
    rgba(22, 19, 37, 1) 39%
  );
}

.leftPaneInv {
  box-sizing: border-box;
  margin: 0;
  min-width: 0;
  display: flex;
  width: 45%;
  padding-right: 10%;
  flex-direction: column;
  justify-content: center;
  position: relative;
  z-index: 2;
}
